{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

<h1>Sign In</h1>
  <br />

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p class="unbold">{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a class="linkcolor" href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p> <br/>

{% else %}
<p class="unbold">{% blocktrans %}If you have not created an account yet, then please
<a class="linkcolor" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p> <br />

{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="linkcolor" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction btn btn-primary btn-success" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}

{% block auth %}
  <!-- Unnamed (Rectangle) -->
  <div id="u352" class="ax_default heading_2">
    <div id="u352_div" class=""></div>
    <div id="u352_text" class="text ">
      <button class="primaryAction btn btn-primary " type="submit" >
        <img id="ufacebook_img" class="img " src="{% static 'images/dashboard/facebook-logo-white.png' %}"/>
        <a id="facebook_log" href="{% provider_login_url "facebook" next=bla %}">Login with Facebook</a>
      </button>
    </div>
  </div>


{% endblock auth %}
