{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{% block head_title %}List orders - WTD{% endblock head_title %}{% endblock title %}

{% block content %}
 <!-- Unnamed (Inline Frame) -->
  <div id="u191" class="ax_default">
    <iframe id="u191_input" scrolling="auto" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <!-- Map_view (Group) (doogle map api) -->
  <div id="u192" class="ax_default" data-label="Map_view" data-left="563" data-top="395" data-width="540" data-height="576">
    <!-- Map (Placeholder) -->
    <div id="u193" class="ax_default placeholder" data-label="Map">
      <img id="u193_img" class="img " src="images/list_of_orders/map_u193.svg"/>
      <div id="u193_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>
  </div>
{% endblock %}
